@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes wave {
    
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}


.half-screen-container {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #0F2027, #203A43, #2C5364, #1E3C72, #2A5298); /* Dark modern gradient */
    background-size: 300% 300%;
    animation: wave 6s infinite ease-in-out;
}

